@mixin centeredFlex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainWrapper {
  width: 100%;
  min-height: 100vh;
  gap: 20px;
  flex-direction: column;
  @include centeredFlex;

}

.resetButton{
  width: 100%;
}

.fieldWrapper{
  @include centeredFlex;
    text-align: start;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px
}

.field{
    @include centeredFlex;
    flex-direction: column;
}

@media screen and (max-width:630px) {
 .fieldWrapper{
  flex-direction: column;
 }
}